In [1]:
import pandas as pd

In [2]:
rating = pd.read_csv('Data/rating_final.csv')
rInfo=pd.read_csv('Data/rInfo.csv')
rInfo.drop('Unnamed: 0',axis=1,inplace=True)

In [19]:
top5votados=list(rating.groupby('placeID')['userID'].count().sort_values(ascending=False).head().index)

In [21]:
rInfo[rInfo['placeID'].isin(top5votados)]

,placeID,name,alcohol,smoking_area,price,dress_code,parking_lot
1,132825,puesto de tacos,No_Alcohol_Served,none,low,informal,None
65,135052,La Cantina Restaurante,Full_Bar,none,high,informal,None
80,132834,Gorditas Doa Gloria,No_Alcohol_Served,not permitted,low,casual,other
119,135032,Cafeteria y Restaurant El Pacifico,Wine-Beer,section,medium,informal,other
121,135085,Tortas Locas Hipocampo,No_Alcohol_Served,not permitted,medium,informal,other

In [32]:
top5mejores=list(rating.groupby('placeID')['rating'].mean().sort_values(ascending=False).head().index)

In [33]:
rInfo[rInfo['placeID'].isin(top5mejores)]

,placeID,name,alcohol,smoking_area,price,dress_code,parking_lot
46,132955,emilianos,Wine-Beer,none,low,informal,None
53,135034,Michiko Restaurant Japones,No_Alcohol_Served,none,medium,informal,None
95,132922,cafe punta del cielo,No_Alcohol_Served,permitted,medium,formal,None
101,132755,La Estrella de Dimas,No_Alcohol_Served,none,medium,informal,other
112,134986,Restaurant Las Mananitas,Wine-Beer,none,high,formal,yes

In [34]:
top5comidas=list(rating.groupby('placeID')['food_rating'].mean().sort_values(ascending=False).head().index)

In [39]:
rInfo[rInfo['placeID'].isin(top5comidas)]

,placeID,name,alcohol,smoking_area,price,dress_code,parking_lot
3,132667,little pizza Emilio Portes Gil,No_Alcohol_Served,none,low,informal,None
24,135013,Giovannis,No_Alcohol_Served,none,low,informal,None
53,135034,Michiko Restaurant Japones,No_Alcohol_Served,none,medium,informal,None
101,132755,La Estrella de Dimas,No_Alcohol_Served,none,medium,informal,other
112,134986,Restaurant Las Mananitas,Wine-Beer,none,high,formal,yes

In [3]:
def top5votados():
    aux=list(rating.groupby('placeID')['userID'].count().sort_values(ascending=False).head().index)
    return rInfo[rInfo['placeID'].isin(aux)]

In [45]:
def top5mejores():
    aux=list(rating.groupby('placeID')['rating'].mean().sort_values(ascending=False).head().index)
    return rInfo[rInfo['placeID'].isin(aux)]

In [46]:
def top5comidas():
    aux=list(rating.groupby('placeID')['food_rating'].mean().sort_values(ascending=False).head().index)
    return rInfo[rInfo['placeID'].isin(aux)]

In [4]:
top5votados()

,placeID,name,alcohol,smoking_area,price,dress_code,parking_lot
1,132825,puesto de tacos,No_Alcohol_Served,none,low,informal,None
65,135052,La Cantina Restaurante,Full_Bar,none,high,informal,None
80,132834,Gorditas Doa Gloria,No_Alcohol_Served,not permitted,low,casual,other
119,135032,Cafeteria y Restaurant El Pacifico,Wine-Beer,section,medium,informal,other
121,135085,Tortas Locas Hipocampo,No_Alcohol_Served,not permitted,medium,informal,other